.featuredCreators {
  
}
.featuredCreatorsFirst {
	margin-top: 82px;
	padding-left: 25px;
}
.featuredCreatorsSecond {
	margin-top: 48px;
	padding-left: 25px;
}
.titleFirst {
  color: #fff;
  font-family: 'Raleway';
  font-size: 32px;
  font-weight: 700;
}
.titleSecond {
  display: none;
}

.slider {
	margin-top: 22px;
}

.slide {
	width: 245px;
}